<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections >
    <section name="SyncConfigSections" type="SyncProvisionTool.SyncConfigurationSectionHandler,SyncProvisionTool" />
  </configSections>

  <SyncConfigSections>
    <SyncSection Mode="Full">
      <SyncScope ScopeName="Inv_Data" Tables="InvFacility,InvEquipment,InvEquipmentAttachment,InvFacilityAttachment"/>
    </SyncSection>

    <!--<SyncSection Mode="FullWithoutFile">
      <SyncScope ScopeName="Inv_User" Tables=""/>
    </SyncSection>-->

    <!--<SyncSection Mode="FileOnly">
      <SyncScope ScopeName="Inv_File" Tables="" ForceProvision="false"/>
    </SyncSection>-->
  
  </SyncConfigSections>

  <appSettings>
		<add key="SyncProvisionMode" value="Full"/>
		<add key="Database" value="INV_0_Server"/>
		<add key="AuditMode" value="False" />
	</appSettings>

	<connectionStrings>
		<add name="SyncConnection" connectionString="data source=D10\BUDDYMAN;initial catalog=INV_0_Client;integrated security=True;multipleactiveresultsets=True;App=SyncFramework"/>
    <!--<add name="SyncConnection" connectionString="data source=D10\BUDDYMAN;initial catalog=INV_0_Server;integrated security=True;multipleactiveresultsets=True;App=SyncFramework"/>-->
	</connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>